.cardAbout {
  width: 250px;
  height: 150px;
}
.grabClick {
  cursor: grab;
}
.grabClick:active {
  cursor: grabbing;
}
@media (max-width: 767px) {
  .tips {
    margin: 0.1px;
  }
  .cardAbout {
    width: 160px;
    height: 150px;
  }
}
