.lightNingSearch {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.lightNingSearch::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 1400px;
  background: linear-gradient(#00ccff, #0ff);
  animation: animate 4s linear infinite;
}
.lightNingSearch::after {
  border-radius: 45px;
  content: "";
  position: absolute;
  background: #021a45;
  inset: 6px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.inputSearchGames {
  width: 65vw;
  background-color: #021a45;
  left: 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  outline: none;
  text-overflow: ellipsis;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  background: none;
  border-bottom: 4px solid rgb(150, 158, 171);
  color: rgb(150, 158, 171);
  height: 54px;
  padding-left: 0px;
  font-size: 25px;
}
.inputSearchGames:focus {
  transition: 0.8;
  border-bottom: 4px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding-bottom: 8px;
}
.inputSearchGames:focus::placeholder {
  color: rgb(255, 255, 255);
  transition: 0.8;
}

@media (max-width: 575px) {
  .inputSearchGames {
    font-size: 15px;
    height: 30px;
  }
  .inputSearchGames:focus {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .lightNingSearch::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 1400px;
    background: linear-gradient(#00ccff, #0ff);
    animation: none;
  }
}
