footer {
  background-color: #010816;
  color: white;
  border-top: 3px solid #021a45;
  margin-top: 10%;
}
footer ul li {
  display: flex;
  list-style: none;
  float: right;
  margin: 0 5px;
}

footer h4 {
  color: #787777;
}
@media (max-width: 767px) {
  .footer-mo {
    display: none;
  }
  .footer-moSocial {
    margin-bottom: 10px;
  }
}
